#TOC {
  color: #708090;
  font-family: Helvetica;
  font-size: 16px; 
  border-color: #708090;
}
h1.title {
  font-family: Helvetica;
  font-size: 40px;
  font-weight: bold;
  color: #2c3e50;;
}
h4.author {
  font-family: Helvetica;
  color: #708090
 }
h4.date {
  font-family: Helvetica;
  color: #708090;
}
h1, h2, h3, #ul>ul>li {
  color: #13639c;
  font-family: Helvetica;
}
body {
  font-family: Helvetica;
  font-size: 14px;
}
.col2 {
  columns: 2 200px;         /* number of columns and width in pixels*/
  -webkit-columns: 2 200px; /* chrome, safari */
  -moz-columns: 2 200px;    /* firefox */
}
.col3 {
  columns: 3 100px;
  -webkit-columns: 3 100px;
  -moz-columns: 3 100px;

}
.nav-pills>li>a {
     color: #13639c;
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus, .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
     color: aliceblue;
     background-color: #13639c;
}
